body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}/*carta de login*/
.custom-card {
  background-color: #fbfbfb; 
  border: 1px solid #000; 
  border-radius: 10px; 

}

/*iconos de facebook e instagram*/
.social-icon {
  color: gray; 
  margin-right: 10px;
  vertical-align: middle; 
}
/*  pie de página */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #a5a5a3;
  color: #0f0d0d;
  text-align: center;
  padding: 1px;
}
